body{
    color:chartreuse;
    background-color: hotpink;
}
.heading{
    width:80%;
    font-size: 22px;

}
.name_of_object,#result_object_name{
    color: floralwhite;
}
#camera{
    border: 2px dashed magenta;
    width: 350px;
    height: 300px;
}